.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

input {
  width: 20%;
  height: 20px;
  text-align: center;
}

button {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 20px;
}
button:hover {
  background-color: grey;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
